body{
    background-image: url(../imagens/capa-projetinho.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    background-image: url(../imagens/capa-projeto.gif);
    width: 370px;
    border: 2px solid #2636e1;
    border-radius: 15px;
    overflow: hidden;
}

.abas img{
    width: 30px;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontalmente por causa do flex direction column*/
    gap: 10px;
    text-align: center;
    

    

}

.cartao .minhas-informacoes img{
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 4px solid #2636e1
}

.cartao .minhas-informacoes .nome{
    font-size: 20px;
    color: bisque;
}

.cartao .conteudo{
    background-color: rgba(73, 73, 73, 0);
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #41414135;
}

.cartao .informacoes-abas{
    background-color: #41414135;
    
}

.cartao .abas .aba:hover{
    background-color: rgba(73, 73, 73, 0.381);
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 10px

}

.informacoes-abas .descricao span{
    color: blue;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;

}
@keyframes blink {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0.5;
      /*background-color: rgba(68, 43, 255, 0.481);*/
    }
    80% {
      opacity: 1;
    }
  }
  .instagram {
    animation: blink 1.2s infinite;
  }
  .linkedin {
    animation: blink 1.2s infinite;
  }
  .curriculo {
    animation: blink 1.2s infinite;
  }
  .imc {
    animation: blink 1.2s infinite;
  }
  .farmacia {
    animation: blink 1.2s infinite;
  }

.redes-sociais li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;

}

.redes-sociais .curriculo{
    background-color: darkgreen;
    border-radius: 15px;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}

.redes-sociais .linkedin{
    background-color: #0015fbfe;
    border-radius: 15px;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}

.redes-sociais .instagram{
    background-color: red;
    border-radius: 15px;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}
.projetos .imc{
    background-color: red;
    border-radius: 15px;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}
.projetos .farmacia{
    background-color: #0015fbfe;
    border-radius: 15px;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}
.projetos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
}
.projetos li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}
.projetos li a:hover{
    opacity: 0.8;
}
